# Environment
.env
.env.local
!.env.example

# Node modules
node_modules/

# Editor
.vscode/

# Language-specific (C/C++)
*.c
*.out

# Certificates & Secrets
*.pem
*.key
*.crt
*.json
!firebase.json

# Test & Coverage
coverage/
